<div class="about-us-item blog-item">
    <div class="about-us-item-img  wow animate__animated animate__zoomIn" data-wow-duration="1s"
        data-wow-delay=".1s">
        <a href="{{ article.url }}" class="article-link">
            {%- if article.image !=blank -%}
                {{ article.image |  image_url: width:1000 |  image_tag:class:'article-img'  }}
            {% else %}
                {{ 'image' |  placeholder_svg_tag:'header-svg-logo' }}
            {%- endif -%}
        </a>
    </div>
    <div class="about-us-item-content">
        <h5 class="about-us-item-content-heading  wow animate__animated animate__fadeInUp"
            data-wow-duration="1s" data-wow-delay=".1s">{{ article.title }}</h5>
        <p class="about-us-item-content-text  wow animate__animated animate__fadeInUp"
            data-wow-duration="1s" data-wow-delay=".2s">
            {{ article.excerpt }}
        </p>
        <div class="blog-item-content-btn wow animate__animated animate__fadeInUp"
            data-wow-duration="1s" data-wow-delay=".3s">
            <a class="blog-item-content-btn-link" href="{{ article.url }}">read more<span
                    class="blog-item-content-btn-icon">
                    <i class="fa-solid fa-arrow-right"></i>
                </span></a>
        </div>
    </div>
</div>