{%- assign s = section.settings -%}
<div class="mobile-menu-wrapper">
    <div class="mobile-menu">
        <div class="mobile-menu-top">
            <div class="ham-menu-wrapper">
                <div class="ham-menu">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
            <div class="navbar-brand-logo">
                <a href="{{ shop.url }}" class="main-menu-logo">
                    {%- if s.logo !=blank -%}
                        {{ s.logo |  image_url: width:500 |  image_tag:class:'header-logo'  }}
                    {% else %}
                        {{ 'image' |  placeholder_svg_tag:'header-svg-logo' }}
                    {%- endif -%}
                </a>
            </div>
        </div>
        <div class="mobile-menu-link-wrapper">
            <ul class="mobile-menu-link-items">
                {% for link in s.menu.links %}
                <li class="mobile-menu-link-item {%- if link.links.size > 0 -%} mobile-drop-down-menu{% endif %}">
                    {%- if link.links.size > 0 -%}
                    <span class="mobile-menu-link drop-down-menu-btn">{{ link.title }} <i class="fa-solid fa-angle-down"></i></span>
                    <ul class="mobile-drop-down-menu-wrapper">
                        {% for childlink in link.links %}
                        <li class="nav-link-sub-menu-item">
                            <a href="{{ childlink.url }}" class="nav-link-sub-menu">{{ childlink.title }}</a>
                        </li>
                        {% endfor %}
                    </ul>
                    {% else %}
                    <a href="{{ link.url }}" class="mobile-menu-link">{{ link.title }}</a>
                    {% endif %}
                </li>
                {% endfor %}
            </ul>
            <div class="social-media-link-wrapper">
                {%- render 'social-links' -%}
            </div>
        </div>
    </div>
</div>