
{%- unless product.has_only_default_variant -%}
    {%- for option in product.options_with_values -%}
    <div class="product-options-wrap">
        <h4 class="choose-single-product-purchase-heading wow animate__animated animate__fadeInUp"
            data-wow-duration="1s" data-wow-delay=".4s">{{ option.name }}:
        </h4>
        <div class="choose-single-product-purchase-types wow animate__animated animate__fadeInUp"
            data-wow-duration="1s" data-wow-delay=".5s">
            {%- for value in option.values -%}
            <div class="choose-single-product-purchase-type">
                <input class="option_input" 
                value="{{ value | handleize }}"
                name="{{ option.name | handleize }}"
                type="radio" id="{{ option.name |  handleize}}_{{ value }}" 
                {% if option.selected_value == value %} checked {% endif %}>
                <label class="choose-single-product-purchase-type-label" for="{{ option.name |  handleize}}_{{ value }}">
                    <p class="purchase-pack-price">{{ value }}</p>
                </label>
            </div>
            {% endfor %}
        </div>
    </div>
    {% endfor %}

    <select id="productSelect" style="display: none;">
        {% for variant in product.variants %}
            <option 
            data-price="{{ variant.price }}"
            data-compare="{{ variant.compare_at_price }}"
            data-available="{{ variant.available }}"
            value="{{ variant.id }}">
            {{variant.title | handleize }}</option>
        {% endfor %}
    </select>
    
{% endunless %}