{{ 'cart-item.js' |  asset_url | script_tag }}

{%- assign s = section.settings -%}
<section class="section cart-section bg-{{ s.color_scheme }} gredient">
    <div class="container">
        <div class="page-common-heading cart-heading">
            <div class="background-with-text-content">
                <h2 class="background-with-text-content-heading wow animate__animated animate__fadeInUp"
                    data-wow-duration="1s" data-wow-delay=".1s">{{ s.heading }}
                </h2>
            </div>
        </div>
        <div class="cart-wrapper">
            <div class="cart-product-list">
                <div class="cart-table">
                    <div class="cart-empty">
                        {%- if cart.empty? -%}
                            <div class="cart-empty-box">
                                <h3>{{ s.empty_heading  }}</h3>
                                <p class="empty-text">{{ s.empty_text }}</p>
                                <div class="empyt-btn">
                                    <a href="{{ s.empty_link }}" class="button">{{ s.empty_button }}</a>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                    <div class="cart-table-heading">
                        <div class="cart-table-product-name">
                            <p class="cart-table-product-name-text">Product</p>
                        </div>
                        <div class="cart-table-product-quantity">
                            <p class="cart-table-product-quantity-text">Quantity</p>
                        </div>
                        <div class="cart-table-product-price">
                            <p class="cart-table-product-price-text">Price</p>
                        </div>
                    </div>

                    {% for item in cart.items %}
                    <div class="cart-table-body">
                        <div class="cart-product">
                            <div class="cart-product-details">
                                <div class="cart-product-img">
                                    <div class="selected-product-img">
                                        <a class="selected-product-img-link" href="{{ item.url }}">
                                            {%- if item.image !=blank -%}
                                                {{
                                                    item.image
                                                    | image_url: width: 300
                                                    | image_tag:
                                                    loading: 'lazy',
                                                    class: 'cart-item-img'
                                                }}
                                            {% else %}
                                                {{ 'detailed-apparel-1' | placeholder_svg_tag: 'cart-item-img-placeholder-svg' }}
                                            {%- endif -%}
                                        </a>
                                    </div>
                                    <div class="product-name">
                                        <div class="product-name-wrapper">
                                            <p class="product-name-text">
                                                <a class="product-name-link" href="{{ item.url }}">{{ item.product.title }}</a>

                                                {%- if item.product.has_only_default_variant == false -%}
                                                    {%- for option in item.options_with_values -%}
                                                        <small>{{ option.name }}:</small>
                                                        <small>
                                                          {{ option.value -}}
                                                          {%- unless forloop.last %}, {% endunless %}
                                                        </small>
                                                    {%- endfor -%}
                                                {%- endif -%}
                                            </p>
                                            <div class="product-price">
                                                <div class="present-price">
                                                    <p class="present-price-text">{{ item.variant.price | money }}</p>
                                                </div>
                                                {%- if item.variant.compare_at_price > 0 -%}
                                                <div class="previous-price">
                                                    <p class="previous-price-text">{{ item.variant.compare_at_price | money }}</p>
                                                </div>
                                                {%- endif -%}
                                            </div>
                                        </div>
                                        <div class="cart-quantity responsive-cart-quantity">
                                            <div class="single-product-quantity ">
                                                <button type="button" onclick="itemMinus(event, this)" data-id="{{item.variant.id}}" class="single-product-quantity-btn quantity-decrease cart-page-quantity-btn">
                                                    <i class="fa-solid fa-minus"></i>
                                                </button>
                                                <input type="number" value="{{ item.quantity }}" class="single-product-quantity-total-input cart-page-quantity-input">
                                                <button type="button"  onclick="itemPlus(event, this)" data-id="{{item.variant.id}}" class="single-product-quantity-btn quantity-increase cart-page-quantity-btn">
                                                    <i class="fa-solid fa-plus"></i>
                                                </button>
                                            </div>
                                            <div class="product-remove-btn">
                                                <button onclick="itemRemoved(event, this)" data-id="{{item.variant.id}}"><i class="fa-solid fa-trash"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="desktop-cart-quantity-btn">
                            <div class="single-product-quantity">
                                <button type="button" onclick="itemMinus(event, this)" data-id="{{item.variant.id}}" class="single-product-quantity-btn quantity-decrease cart-page-quantity-btn">
                                    <i class="fa-solid fa-minus"></i>
                                </button>
                                <input type="number" value="{{ item.quantity }}" class="single-product-quantity-total-input cart-page-quantity-input">
                                <button type="button" onclick="itemPlus(event, this)" data-id="{{item.variant.id}}"  class="single-product-quantity-btn quantity-increase cart-page-quantity-btn">
                                    <i class="fa-solid fa-plus"></i>
                                </button>
                            </div>
                            <div class="product-remove-btn">
                                <button onclick="itemRemoved(event, this)" data-id="{{item.variant.id}}"><i class="fa-solid fa-trash"></i></button>
                            </div>
                        </div>
                        <div class="cart-total-price">
                            <p class="cart-total-price-text">{{ item.final_line_price |  money }}</p>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div> 
            <div class="cart-order-summary">
                <div class="oder-summary-heading">
                    <p class="oder-summary-heading-text">Order Summary</p>
                </div>
                <ul class="summary-details">
                    <li class="summary-item">
                        <p class="summary-item-text">Subtotal</p>
                        <p class="summary-item-price">{{ cart.total_price |  money }}</p>
                    </li>
                    <li class="summary-item">
                        <p class="summary-item-text">Shipping</p>
                        <small class="summary-item-price shipping-rate">Shipping rate will be showing in checkout page</small>
                    </li>
                    <li class="summary-item">
                        <p class="summary-item-text">Total</p>
                        <p class="summary-item-price">{{ cart.total_price |  money }}</p>
                    </li>
                </ul>

                <div class="summary-checkout-button">
                    <a href="/checkout" class="btn custom-btn">Checkout</a>
                </div>
                <div class="checkout-summary">
                    <p class="checkout-text">
                        Tax included and shipping and discounts calculated at checkout
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>


{% schema %}
    {
      "name": "Cart Items",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "label": "Heading",
          "default" : "Your Cart"
        },
        {
          "type": "text",
          "id": "button",
          "label": "Button",
          "default" : "Checkout"
        },
        {
          "type": "textarea",
          "id": "text",
          "label": "Text",
          "default" : "Tax included and shipping and discounts calculated at checkout"
        },
        {
            "type": "header",
            "content": "Empty cart"
        },
        {
            "type": "text",
            "id": "empty_heading",
            "label": "Empty Heading",
            "default": "Here goes  Title"
        },
        {
            "type": "text",
            "id": "empty_text",
            "label": "Empty Text",
            "default": "Lorem Ipsum is simply dummy text of the printing and typesetting industry. "
        },
        {
            "type": "text",
            "id": "empty_button",
            "label": "Button",
            "default": "Start Shopping"
        },
        {
            "type": "url",
            "id": "empty_link",
            "label": "Link"
        },
        {
          "type": "header",
          "content": "Color"
        },
        {
          "type": "color_scheme",
          "id": "color_scheme",
          "label": "Color Scheme",
          "default" : "scheme-1"
        }
      ],
      "presets": [
        {
          "name": "Cart Items",
          "settings": {
          }
        }
      ]
    }
  {% endschema %}