<section class="section img-with-product-section color-{{ s.color_scheme }}">
    <div class="container">
        <div class="img-with-product-items">
            {% for block in section.blocks %}
            {%- assign b = block.settings -%}
            <div class="img-product-item wow animate__animated animate__zoomIn" data-wow-duration="1s"
                data-wow-delay=".1s">
                <a class="img-product-item-link" href="{{ b.link }}">
                    {%- if b.image !=blank -%}
                        {{ b.image |  image_url: width:500 |  image_tag:class:'header-logo'  }}
                    {% else %}
                        {{ 'image' |  placeholder_svg_tag:'header-svg-logo' }}
                    {%- endif -%}
                   
                    <h3 class="product-text">
                        {{ b.heading }}
                    </h3>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</section>

{% schema %}
    {
      "name": "Collection Banner",
      "settings": [
        
        {
          "type": "header",
          "content": "Color"
        },
        {
          "type": "color_scheme",
          "id": "color_scheme",
          "label": "Color Scheme",
          "default" : "scheme-1"
        }
      ],
      "blocks": [
        {
            "type": "collection",
            "name": "Collection",
            "settings": [
                {
                    "type": "text",
                    "id": "heading",
                    "label": "Heading",
                    "default" : "Apparel"
                },
                {
                    "type": "url",
                    "id": "link",
                    "label": "Link",
                    "default" : "\/collections\/all"
                },
                {
                    "type": "image_picker",
                    "id": "image",
                    "label": "Image"
                }
            ]
        }
      ],
      "presets": [
        {
          "name": "Collection Banner",
          "settings": {
          }
        }
      ]
    }
  {% endschema %}