{%- assign s = section.settings -%}
<section class="section training-consulting-section bg-{{ s.color_scheme }}">
    <div class="container">
        <div class="background-with-text-content-section-wrapper {% if s.content_position == 'right' %}change-column{% endif %}">
            {%- if s.content_position == 'right' -%}
                <div
                    class="background-with-text-content-section-empty-area training-consulting-img-area wow animate__animated animate__zoomInDown"
                    data-wow-duration="1s" data-wow-delay=".3s">
                    {%- if s.image !=blank -%}
                        {{ s.image |  image_url: width:500 |  image_tag:class:'consulting-img'  }}
                    {% else %}
                        {{ 'image' |  placeholder_svg_tag:'consulting-svg-logo' }}
                    {%- endif -%}
                  
                </div>
            {% endif %}
            {%- liquid
            if s.content_position == 'left'
              assign anim = 'animate__slideInLeft'
            elsif s.content_position == 'right'
                assign anim = 'animate__slideInRight'
            endif
            -%}
            <div class="background-with-text-content">
                {% for block in section.blocks %}
                    {%- assign b = block.settings -%}
                    {%- case block.type -%}
                    {%- when 'heading' -%}
                    <h2 class="background-with-text-content-heading wow animate__animated {{ anim }}"
                        data-wow-duration="1s" data-wow-delay=".1s">
                        {{ b.heading }}
                    </h2>
                    {%- when 'text' -%}
                    <div class="background-with-text-content-text wow animate__animated {{ anim }}"
                        data-wow-duration="1s" data-wow-delay=".3s">
                        {{ b.text }}
                    </div>
                    {%- when 'button' -%}
                    <div class="background-with-text-content-btn wow animate__animated {{ anim }}"
                        data-wow-duration="1s" data-wow-delay=".4s">
                        <a class="custom-btn btn" href=" {{ b.link }}"> {{ b.button }}</a>
                    </div>
                    {% endcase %}
                {% endfor %}
            </div>
            {%- if s.content_position == 'left' -%}
            <div
                class="background-with-text-content-section-empty-area training-consulting-img-area wow animate__animated animate__zoomInDown"
                data-wow-duration="1s" data-wow-delay=".3s">
                {%- if s.image !=blank -%}
                    {{ s.image |  image_url: width:500 |  image_tag:class:'consulting-img'  }}
                {% else %}
                    {{ 'image' |  placeholder_svg_tag:'consulting-svg-logo' }}
                {%- endif -%}
              
            </div>
            {% endif %}
        </div>
    </div>
</section>


{% schema %}
    {
        "name": "Consulting",
        "settings": [
            {
                "type": "image_picker",
                "id": "image",
                "label": "Image"
            },
            {
                "type": "select",
                "id": "content_position",
                "options": [
                    { "label": "Left", "value": "left" },
                    { "label": "Right", "value": "right" },
                    { "label": "Center", "value": "center" }
                ],
                "label": "Content Position",
                "default": "left"
            },
            {
                "type": "header",
                "content": "Color"
            },
            {
                "type": "color_scheme",
                "id": "color_scheme",
                "label": "Color Scheme",
                "default" : "scheme-1"
            }
        ],
        "blocks": [
            {
                "type": "heading",
                "limit": 1,
                "name": "Heading",
                "settings": [
                    {
                        "type": "textarea",
                        "id": "heading",
                        "label": "Heading",
                        "default" : "WHY OUR CONSULTING?"
                    }
                ]
            },
            {
                "type": "text",
                "limit": 1,
                "name": "Text",
                "settings": [
                    {
                        "type": "richtext",
                        "id": "text",
                        "label": "Text",
                        "default" : "<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto maxime iste ullam natus numquam consectetur fugiat vero asperiores porro pariatur!</p>"
                    }
                ]
            },
            {
                "type": "button",
                "limit": 1,
                "name": "Button",
                "settings": [
                    {
                        "type": "text",
                        "id": "button",
                        "label": "Button",
                        "default" : "About Us"
                    },
                    {
                        "type": "url",
                        "id": "link",
                        "label": "Link"
                    }
                ] 
            }
        ],
        "presets": [
            {
                "name": "Consulting",
                "settings": {
                }
            }
        ]
    }
{% endschema %}