{%- assign s = section.settings -%}
<section class="section contact-section bg-{{ s.color_scheme }}">
    <div class="container">
        <div class="page-common-heading cart-heading">
            <div class="background-with-text-content">
                <h2 class="background-with-text-content-heading wow animate__animated animate__fadeInUp"
                    data-wow-duration="1s" data-wow-delay=".1s">{{ s.heading }}
                </h2>
                {%- if s.text !=blank -%}
                    <h6 class="contact-paragraph-text wow animate__animated animate__fadeInUp" data-wow-duration="1s" data-wow-delay=".3s">
                        {{ s.text }}
                    </h6>
                {%- endif -%}
            </div>
        </div>
        {%- form 'contact', id: 'contact-form', class: 'contact-form' -%}
            {%- if form.posted_successfully? -%}
                <h2 class="form-status form-status-list form__message" tabindex="-1" autofocus>
                    {{ 'templates.contact.form.post_success' | t }}
                </h2>
            {%- elsif form.errors -%}
                <div class="form__message error">
                    {{ form.errors |  default_errors }}
                </div>
            {%- endif -%}
            <div class="contact-field-row">
                <div class="contact-field">
                    <input type="text" name="contact[name]" placeholder="Name">
                </div>
                <div class="contact-field">
                    <input type="email" name="contact[email]" placeholder="Email">
                </div>
            </div>
            <div class="contact-field">
                <input type="number" name="contact[phone_number]" placeholder="Phone Number">
            </div>
            <div class="contact-field">
                <textarea name="contact[comment]"  placeholder="Comment" rows="8" cols="81"></textarea>
            </div>
            <div class="contact-button">
                <button type="submit" class="btn custom-btn">{{ s.button }}</button>
            </div>
        {% endform %}
    </div>
</section>

{% schema %}
    {
        "name": "Contact",
        "settings": [
            {
                "type": "text",
                "id": "heading",
                "label": "Heading",
                "default" : "Contact Us"
            },
            {
                "type": "inline_richtext",
                "id": "text",
                "label": "Text",
                "default" : "Feel free to drop us a line at <a href='mailTo:clumbusroasters@gmail.com'>clumbusroasters@gmail.com</a>"
            },
            {
                "type": "text",
                "id": "button",
                "label": "Button",
                "default" : "Send"
            },
            {
                "type": "header",
                "content": "Color"
            },
            {
                "type": "color_scheme",
                "id": "color_scheme",
                "label": "Color Scheme",
                "default" : "scheme-1"
            }
        ],
        
        "presets": [
            {
                "name": "Contact",
                "settings": {
                }
            }
        ]
    }
{% endschema %}