{%- assign s = section.settings -%}
<section class="section product-details-section bg-{{ s.color_scheme }}">
    <div class="container">
        <div class="product-details-section-wrapper">
            <div class="product-detail-items">
                {%- assign left_items = section.blocks |  where: 'type','left_item'  -%}
                {% for block in  left_items %}
                {%- assign b = block.settings -%}
                <div class="product-details-item wow animate__animated animate__slideInLeft"
                    data-wow-duration="1s" data-wow-delay=".1s">
                    <div class="product-details-item-content">
                        <h5 class="product-details-item-content-heading">
                            <a class="product-details-item-content-heading-link" href="#">{{ b.heading }}</a>
                        </h5>
                        <p class="product-details-item-content-text">
                            {{ b.text }}
                        </p>
                        <div class="product-details-item-icon">
                            {%- if b.icon !=blank -%}
                                {{ b.icon |  image_url: width:500 |  image_tag:class:'header-logo'  }}
                            {% else %}
                                {{ 'image' |  placeholder_svg_tag:'header-svg-logo' }}
                            {%- endif -%}
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="product-details-img wow animate__animated animate__zoomIn" data-wow-duration="1s"
                data-wow-delay=".1s">
                {%- if s.image !=blank -%}
                    {{ s.image |  image_url: width:500 |  image_tag:class:'header-logo'  }}
                {% else %}
                    {{ 'image' |  placeholder_svg_tag:'header-svg-logo' }}
                {%- endif -%}
            </div>
            <div class="product-detail-items product-detail-items-right">
                {%- assign right_items = section.blocks |  where: 'type','right_item'  -%}
                {% for block in  right_items %}
                {%- assign b = block.settings -%}
                <div class="product-details-item wow animate__animated animate__slideInRight"
                    data-wow-duration="1s" data-wow-delay=".1s">
                    <div class="product-details-item-content">
                        <h5 class="product-details-item-content-heading">
                            <a class="product-details-item-content-heading-link" href="#">{{ b.heading }}</a>
                        </h5>
                        <p class="product-details-item-content-text">
                            {{ b.text }}
                        </p>
                        <div class="product-details-item-icon">
                            {%- if b.icon !=blank -%}
                                {{ b.icon |  image_url: width:500 |  image_tag:class:'header-logo'  }}
                            {% else %}
                                {{ 'image' |  placeholder_svg_tag:'header-svg-logo' }}
                            {%- endif -%}
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>


{% schema %}
    {
      "name": "Text Item",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "header",
          "content": "Color"
        },
        {
          "type": "color_scheme",
          "id": "color_scheme",
          "label": "Color Scheme",
          "default" : "scheme-1"
        }
      ],
      "blocks": [
        {
            "type": "left_item",
            "name": "Left Item",
            "settings": [
                {
                    "type": "text",
                    "id": "heading",
                    "label": "Heading",
                    "default" : "The Perfect Cup"
                },
                {
                    "type": "textarea",
                    "id": "text",
                    "label": "Text",
                    "default" : "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incid iduntus ut"
                },
                {
                    "type": "image_picker",
                    "id": "icon",
                    "label": "Icon"
                }
            ]
        },
        {
            "type": "right_item",
            "name": "Right Item",
            "settings": [
                {
                    "type": "text",
                    "id": "heading",
                    "label": "Heading",
                    "default" : "The Cofee Machine"
                },
                {
                    "type": "textarea",
                    "id": "text",
                    "label": "Text",
                    "default" : "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incid iduntus ut"
                },
                {
                    "type": "image_picker",
                    "id": "icon",
                    "label": "Icon"
                }
            ]
        }
        
      ],
      "presets": [
        {
          "name": "Text Item",
          "settings": {
          }
        }
      ]
    }
  {% endschema %}